/* 반응형을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  nav {
      flex-direction: column;
  }

  .col {
      flex-basis: 100%;
  }
}

/* body 설정 */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
}

/* nav */
nav {
  display: flex;
  background-color: #333;
  padding: 20px;
  gap:10px;
  align-items: center;
}

.nav_left {
  margin-right: auto;
}

.nav_left_img {
  height: 40px;
}


.nav_right {
  margin-left: auto;
}

nav a {
  color: #fff;
  margin: 0 20px;
  background-color: #333;
  padding: 10px 20px;
  text-decoration: none;
}


nav a:hover {
  color: #ff00c8;
}

/* Available Games */
.container {
  justify-content: center;
  margin: 0 500px;
}

.header {
  display: flex;
  padding: 50px 0px;
  align-items: center;
}

.header h1 {
  color: #fff;
  font-size: 32px;
}

.header p {
  color: #ff00c8;
  margin: 0 20px;
}

.available-games_btn {
  background-color: #ff00c8;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-left: auto;
  cursor: pointer;
  border-radius: 5px;
}

.available-games_posters {
  display: flex;
  overflow-x: hidden;
  gap: 10px;
  justify-content: center;
}

/* .available-games_posters_detail {
  opacity: 1;
  transform: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.available-games_posters_detail.animate {
  opacity: 0.8;
  transform: scale(0.8);
} */

.upcoming-tournaments_games {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.upcoming-tournaments_games_card {
  background-color: #222;
  width: 100%;
}

.upcoming-tournaments_games_image img {
  height: auto;
  object-fit: cover;
  width: 100%;
}

.upcoming-tournaments_games_detail {
  padding: 15px;
  color: #fff;
}
